.account-preview {
  position: relative;
  background-color: white;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 0.5rem;
  text-align: center;
  width: 40vw;
  min-width: 500px;
  box-shadow: 0 0 4px gray;
  margin: 1rem 0;
}

.carrot {
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  right: 1vw;
  transition: 300ms ease-in-out;
  color: gray;
  cursor: pointer;
}

.carrot:hover {
  color: black;
}

.grid-row {
  display: grid;
  grid-template-columns: 1fr 0.8fr 2fr 1fr;
}

.row-item {
  border: 0.5px solid black;
}

.balance-pair {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a > button {
  font-size: 0.8rem;
  border: 1px solid white;
  background-color: white;
  transition: 300ms ease-in-out;
}

a > button:hover {
  border: 1px solid #333;
  border-radius: 1rem;
  color: white;
  background-color: #333;
}
