.notification-modal {
  background-color: whitesmoke;
  padding: 0.5rem;
}

.notification-container {
  width: 100vw;
  display: grid;
  place-items: center;
  gap: 0.5rem;
}

.notification-row {
  display: grid;
  gap: 0.5rem;
  width: 40vw;
  min-width: 550px;
  place-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 4px grey;
}
