.list {
  border: 1px solid white;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0 4px gray;
  padding: 1rem;
  display: grid;
  margin-top: 1rem;
}

.link {
  text-decoration: none;
  color: black;
  transition: 100ms ease-in-out;
}

.link:hover {
  color: red;
}
